*{
  margin: 0px;
}
body{
  background-color:#f5f6fa;
  background-image: url("http://stories.uh.edu/covid-19/assets/ag2dSlL11z/covidbackground05-2560x1440.jpeg");
}
.app{
  display:flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_left{
  flex: .9;
}

.app_stats{
  display: flex;
  justify-content: space-between;
}
.links{
  margin-top: 50px;
}
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}